{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="rounded m-3 fs-6" style="background: #f5c2c7">
   สิ่งที่สนใจ
    <div class="m-2 pt-2">
            <img src="{% static 'images/11.jpg.' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="300">
            <img src="{% static 'images/pt.jpg.' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="300">
            <img src="{% static 'images/02.jpg.' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="300">
          <div class="row pt-8">
          <div class="col-lg-10">
            <b>
                   <b>ชอบการเมือง</b> คงมีหลายคนสงสัยและถามว่าทำไมถึงชอบการเมืองเพราะวัยรุ่นส่วนมากจะไม่ค่อยให้ความสนใจการเมืองเท่าไหร่
                จริงๆแล้วการเมืองเป็นสิ่งที่ใกล้ตัวเรามากๆ มันเป็นสิ่งที่ทำให้เราได้รู้ว่าขณะนี้บ้านเมืองของเราเป็นยังไง เศรษฐกิจตอนนี้เป็นยังไงบ้างอีกอย่าง
                ตัวเราเองชื่นชอบนักการเมืองหลายท่านมากๆยิ่งทำให้เรามาสนใจการเมืองมากขึ้นไปอีก ชอบนักการเมืองของพรรคเพื่อไทยมากๆ มากจนรู้ว่า
                เวลาเขามีงานปราศัยที่ไหนก็จะตามไปให้กำลังใจมีรูปมาโชว์ด้วยนะคะ คิดว่าในอนาคตพรรคเพื่อไทยจะสามารถนำประเทศของเราดีขึ้นกว่านี้

            </b>
          </div>

         </div>

        </div>
    </div>
{% endblock %}