{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <style >
body {
  background-image: url('{%static 'images/P1.jpg.'%}');
}
</style>

</head>

    <meta charset="UTF-8">
    <title>profile page</title>
</head>
<body ></body>

        <br>
 <div align="center"><font size="18" style="color: lightpink; background-color:lightyellow " > 🅟🅡🅞🅕🅘🅛🅔 🅘🅝🅕🅞🅡🅜🅐🅣🅘🅞🅝</font>
     </div> <br><br>


<marquee  direction="left"scrollamount="10"width="100%">
    <table border="2px" align="center" style="border-color: navajowhite; line-grid: match-parent ;border-width: 7px;border-style: dashed;"  >
        <tr>
            <td><img src="{% static 'images/n6.jpg' %}"width="200px"height="220px"></td>
            <td><img src="{% static 'images/n7.jpg' %}"width="200px"height="220px"></td>
            <td><img src="{% static 'images/n8.jpg' %}"width="200px"height="220px"></td>
            <td><img src="{% static 'images/n9.jpg' %}"width="200px"height="220px"></td>

        </tr>
    </table>
<br>
</marquee>


<table style="color: darksalmon;border-width: 3px;border-style: solid " align="center" bgcolor="#ffebcd"    >
        <tr >

            <td width="200" height="30"  ><font size="4"  color="#696969" style="font-family: sans-serif" > ชื่อ-นามสกุล </font></td>
            <td ><font size="4" color="#696969" style="font-family: sans-serif"> นางสาวกัณทิมา ยุซิ </font></td>
        </tr>
    <tr>
        <td ><font size="4"  color="#696969" style="font-family: sans-serif" > วันเกิด 🎂 </font></td>
        <td ><font size="4" color="#696969" style="font-family: sans-serif"> 06-09-2001  21 ปี</font></td>
    </tr>

    <tr>
        <td ><font size="4"  color="#696969" style="font-family: sans-serif" > ที่อยู่ 🏡</font></td>
        <td ><font size="4" color="#696969" style="font-family: sans-serif"> บ้านดู่น้อย ต.โนนแดง อ.โนนศิลา จ.ขอนแก่น รหัสไปรษณี 40110</font></td>
    </tr>

        <tr>
        <td ><font size="4"  color="#696969" style="font-family: sans-serif" > EMAIL 💌 </font></td>
        <td ><font size="4" color="#696969" style="font-family: sans-serif">kantima.yu@RMUTI.AC.TH</font></td>
    </tr>

    <tr>
        <td ><font size="4" color="#696969" style="font-family: sans-serif" >FACEBOOK </font></td>
        <td ><font size="4" color="#696969" style="font-family: sans-serif">nat kantima yusi</font></td>
    </tr>
    </table>

<br>
 <div align="center"><strong style="border-width: 2px; color: #0a58ca"><font style="font-family: 'TH KoHo'; background-color: #e7f1ff ; text-align: center" size="12" color="#2f4f4f"  >
     NICE TO MEET YOU </font><img src="{% static 'images/k1.jpg.' %}"width="80px"height="100px"> </strong></div>


</body>
{% endblock %}