{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="rounded m-3 fs-6" style="background: #f5c2c7">
   <d>บุคคลต้นแบบ</d><br>
    <div class="m-2 pt-2">
            <img src="{% static 'images/bb.jpg.' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="200" >
            <img src="{% static 'images/cc.jpg.' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="200">
            <img src="{% static 'images/aaa.jpg.' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="240" >
            <img src="{% static 'images/744.jpg.' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="240" >
            <img src="{% static 'images/ddd.jpg.' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="225" >
         <div class="row pt-5">
          <div class="col-lg-10">
            <b>
                นักการเมืองหญิง สส.ดรธีรรัตน์ สำเร็จวาณิชย์ (สส.อิ่ม) สมาชิกสภาผู้แทนราษฎรกรุงเทพมหานคร เขตลาดกระบัง พรรคเพื่อไทย
                สสอิ่มเป็น สส.สมัยที่2 เป็นคนที่ขยันทำงานและเป็นคนที่เก่งมากๆ เป็นคนปฏิบัติหน้าที่อยู่เสมอไม่ว่าจะเป็นงานในสภาหรืองานนอกสภาก็จะเต็มที่
                กับงานอยู่ตลอดและมักจะได้ยินคำชมจากพี่น้องชาวลาดกระบังอยู่เสมอ พี่อิ่มเป็นน่ารักอบอุ่น พี่อิ่มคือต้นแบบในทุกๆอย่างของตัวแนทพี่อิ่มเป็นเหมือนกำลังใจในหลายๆด้าน
                เวลาเหนื่อยจากการเรียนพอได้มาชมคลิปน่ารักๆของพี่อิ่มก็จะทำให้เรายิ้มได้ พี่อิ่มคือสิ่งที่ฮีลใจหนูได้มากๆ



            </b>
          </div>

         </div>
</img>
        </div>
    </div>
{% endblock %}