{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="rounded m-3 fs-6" style="background: #f5c2c7">
   <div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-danger flex-fill text-white">
             <h2><img src="{% static 'images/555.jpg' %}"  width="200" height="200"> </h2>
                <p class="p-3 bg-secondary" style=""><b> ซันซิลผมสวยมั่นใจอะไรก็เป็นไปได้.   </b>
            </div>
        </div>
           <div class="row pt-5 mb-3">
<video > </video>
        <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 5rem;">
                <a href="#">
                    <img src="{% static 'images/su1.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">ซันซิลสูตรผมตรง</h5>
                    <p class="card-text">75</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
           <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 5rem;">
                <a href="#">
                    <img src="{% static 'images/su2.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">ซันซิลสูตรผมมีน้ำหนัก </h5>
                    <p class="card-text">75</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
                <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/su3.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">ซันซิลสูตรฟื้นฟูผมมแห้งเสีย </h5>
                    <p class="card-text">75 </p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
               <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/su4.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">ซันซิลสูตรปกป้องผมทำสีให้เงางาม</h5>
                    <p class="card-text">75</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
               <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/su5.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">ซันซิลสูตรผมนุ่มลื่นเรียบสวย</h5>
                    <p class="card-text">75</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
               <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/su8.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">ซันซิลสูตรผมดำเงางาม</h5>
                    <p class="card-text">75</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
               <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/su6.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">ซันซิลสูตรปกป้องเส้นผมจากสภาพอากาศ</h5>
                    <p class="card-text">75</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
               <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/su7.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">ซันซิลสูตรเสริมความแข็งแรงให้ผมยาว</h5>
                    <p class="card-text">75</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
</div>
</div>

{% endblock %}
