{% extends "base.html" %}
{% load static %}
{% block content %}
    <meta charset="UTF-8">
    <title>Idol Page</title>
    <style>
        body{background-image: url("{%static 'images/P1.jpg'  %}")}
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            position: relative;
            width: 50%;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: coral;
        }

        .container:hover .overlay {
            opacity: 10;
        }

        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
    </head>
    <body>
    <div class="row">
        <h3 class="text-center display-10" style="background-color: sandybrown"><b><u>We are proudly present our
            products to our sweet customers :)</u></b></h3><br>
        <h3 class="text-center"><b>buy me and you will never feel hungry! no more..</b></h3>
        <br>
    </div>
    {#    <h2>We are proudly present our products to our sweet customers :)</h2>#}
    {#    <p>buy me and you will never feel hungry! no more..</p>#}

    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
        add to cart
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">


     <div class="container">
        <img src={% static "images/su3.jpg." %} alt="Avatar" class="image" align="center">
        <div class="overlay">
            <div class="text">Sunsilka<br>
               ซันซิลสูตรฟื้นฟูผมมแห้งเสีย <br>รหัสสินค้า 03 75.00฿
            </div>
        </div>
    </div>


    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
        add to cart
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->

            </div>
        </div>
    </div>
  <div class="container">
        <img src={% static "images/su4.jpg" %} alt="original" class="image" align="center">
        <div class="overlay">
            <div class="text">Sunsilkl<br>
                >ซันซิลสูตรปกป้องผมทำสีให้เงางาม 2ขวด <br> รหัสสินค้า 04 199.00 ฿
            </div>
        </div>
    </div>

    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
        add to cart
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

    <div class="container">
        <img src={% static "images/su5.jpg" %} alt="Avatar" class="image" align="center">
        <div class="overlay">
            <div class="text">Sunsilke<br>
                >ซันซิลสูตรผมนุ่มลื่นเรียบสวย 2 ขวด <br>รหัสสินค้า 05 199.00฿
            </div>
        </div>
    </div>


    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
        add to cart
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">


     <div class="container">
        <img src={% static "images/su6.jpg." %} alt="Avatar" class="image" align="center">
        <div class="overlay">
            <div class="text">Sunsilka<br>
                ซันซิลผมเงางาม<br>รหัสสินค้า05 75฿
            </div>
        </div>
    </div>


    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
        add to cart
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->

            </div>
        </div>
    </div>



{% endblock %}